/* BASE STYLES */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
  padding-bottom: 4em;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #FFF;
  background-color: #181F2A;
  font-size: .875em;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 85%;
}

p {
  text-align: center;
  line-height: 1.7em;
}



/*===== HEADER SECTION - MOBILE ====*/

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1C2431;
  padding-top: 1em;
}

header .content-container {
  justify-content: space-between;
}

header img {
  width: 25%;
}

nav {
  width: 60%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width:
}

nav a {
  color: #FFF;
  text-decoration: none;
  padding: 0;
  font-size: .85em;
}

/*=== HERO SECTION - MOBILE === */

.hero {
  background: linear-gradient(#1C2431 0%, #1C2431 55%, #181F2A 55%, #181F2A 100%);
  padding-top: 3em;
}



.background-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/bg-curvy-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 13.5em;
}

.hero img {
  width: 100%;
}

h1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 1.75em;
  line-height: 1.6em;
  margin-top: 1.7em;
}

.hero p {
  margin-top: 0;
  width: 93%;
}

.hero a {
  width: 80%;
  text-align: center;
  background: linear-gradient(90deg, #65E2D9, #339ECC);
  text-decoration: none;
  color: #FFF;
  padding: 1.125em 0;
  border-radius: 1.75em;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-top: 1.5em;
}

/*==== FEATURES SECTION =====*/

.features {
  padding: 10em 0 6em 0;
}

.single-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5em;
}

.single-feature img {
  width: 22%;
}

h2 {
  font-size: 1.35em;
  font-family: "Raleway", sans-serif;
  margin: 2em 0 0 0;
}

/*==== PRODUCTIVITY SECTION - MOBILE ======= */

.productivity img {
  width: 100%;
  margin-bottom: 1em;
}

.productivity-text-section {
  display: flex;
  justify-content: center;
  align-items: flext-start;
  flex-direction: column;
}

.productivity-text-section p {
  text-align: left;
  width: 100%;
}

.productivity-text-section a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 48%;
  font-size: 1em;
  text-decoration: none;
  color: #65E2D9;
  border-bottom: 1px solid #65E2D9;
  padding-top: /85em;
}

.productivity-text-section img {
  width: 10%;
  margin-bottom: 0;
  padding-left: .5em;
}
